<main>

  <!-- It is designed to be viewed only on desktop and laptop devices. -->
  <div class="block Small_Tablet_Devices_Size_View:hidden Large_Mobile_Devices_Size_View:hidden Medium_Mobile_Devices_Size_View:hidden Small_Mobile_Devices_Size_View:hidden">
    <div class="flex justify-center items-center h-screen w-full overflow-x-hidden overflow-y-auto bg-[#F2F5F9]">
      <div class="flex justify-center items-center h-auto w-auto m-auto p-20">
        <div class="flex flex-col justify-center items-center h-auto w-[420px] bg-[#FFFFFF] rounded-xl">
          <div class="relative">
            <img src="../assets/Images/hero-image-business-card.png" alt="" class="z-0 h-auto w-[420px] rounded-xl" />
            <img src="../assets/Images/white-overlay.svg" alt="" class="absolute z-10 -bottom-1 h-auto w-[420px]" />
          </div>
          <div class="pt-0 pb-2 px-7">
            <h1 class="text-[#111729] font-Poppins text-2xl font-medium tracking-tight">Perfect solution for small business</h1>
            <p class="text-[#677489] font-Lato text-base my-4">Small businesses need to generate leads to grow. You can use tools like Ringy.</p>
          </div>
          <div class="border-solid border-[1px] border-[#F2F5F9] w-full"></div>
          <div class="p-7 mr-auto">
            <div class="flex justify-start items-center">
              <div>
                <img src="../assets/Images/avatar-image-business-card.png" alt="" class="rounded-full h-12 w-12 border-4 border-solid border-[#F2F5F9]" />
              </div>
              <div class="flex flex-col justify-center items-center font-Lato ml-4">
                <p class="text-[#111729] font-bold text-base mr-auto">Amy Burgess</p>
                <p class="text-[#677489] text-sm">Customer Manger, Solution Oy</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- It is designed to be viewed only on small tablet devices. -->
  <div class="hidden Small_Tablet_Devices_Size_View:block Large_Mobile_Devices_Size_View:hidden Medium_Mobile_Devices_Size_View:hidden Small_Mobile_Devices_Size_View:hidden">
    <div class="flex justify-center items-center h-screen w-full overflow-x-hidden overflow-y-auto bg-[#F2F5F9]">
      <div class="flex justify-center items-center h-auto w-auto m-auto p-20">
        <div class="flex flex-col justify-center items-center h-auto w-96 bg-[#FFFFFF] rounded-xl">
          <div class="relative">
            <img src="../assets/Images/hero-image-business-card.png" alt="" class="z-0 h-auto w-96 rounded-xl" />
            <img src="../assets/Images/white-overlay.svg" alt="" class="absolute z-10 -bottom-1 h-auto w-96" />
          </div>
          <div class="px-5">
            <h1 class="text-[#111729] font-Poppins text-xl font-medium tracking-tight w-80">Perfect solution for small business</h1>
            <p class="text-[#677489] font-Lato text-sm my-4 w-80">Small businesses need to generate leads to grow. You can use tools like Ringy.</p>
          </div>
          <div class="border-solid border-[1px] border-[#F2F5F9] w-full"></div>
          <div class="p-5 mr-auto">
            <div class="flex justify-start items-center">
              <div>
                <img src="../assets/Images/avatar-image-business-card.png" alt="" class="rounded-full h-10 w-10 border-4 border-solid border-[#F2F5F9]" />
              </div>
              <div class="flex flex-col justify-center items-center font-Lato ml-4">
                <p class="text-[#111729] font-bold text-sm mr-auto">Amy Burgess</p>
                <p class="text-[#677489] text-xs">Customer Manger, Solution Oy</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- It is designed to be viewed only on large mobile devices. -->
  <div class="hidden Small_Tablet_Devices_Size_View:hidden Large_Mobile_Devices_Size_View:block Medium_Mobile_Devices_Size_View:hidden Small_Mobile_Devices_Size_View:hidden">
    <div class="flex justify-center items-center h-screen w-full overflow-x-hidden overflow-y-auto bg-[#F2F5F9]">
      <div class="flex justify-center items-center h-auto w-auto m-auto p-20">
        <div class="flex flex-col justify-center items-center h-auto w-80 bg-[#FFFFFF] rounded-xl">
          <div class="relative">
            <img src="../assets/Images/hero-image-business-card.png" alt="" class="z-0 h-auto w-80 rounded-xl" />
            <img src="../assets/Images/white-overlay.svg" alt="" class="absolute z-10 -bottom-1 h-auto w-80" />
          </div>
          <div class="pt-0 pb-1 px-5">
            <h1 class="text-[#111729] font-Poppins text-base font-medium tracking-tight w-64">Perfect solution for small business</h1>
            <p class="text-[#677489] font-Lato text-xs my-4 w-64">Small businesses need to generate leads to grow. You can use tools like Ringy.</p>
          </div>
          <div class="border-solid border-[1px] border-[#F2F5F9] w-full"></div>
          <div class="p-5 mr-auto">
            <div class="flex justify-start items-center">
              <div>
                <img src="../assets/Images/avatar-image-business-card.png" alt="" class="rounded-full h-8 w-8 border-2 border-solid border-[#F2F5F9]" />
              </div>
              <div class="flex flex-col justify-center items-center font-Lato ml-4">
                <p class="text-[#111729] font-bold text-xs mr-auto">Amy Burgess</p>
                <p class="text-[#677489] text-[10px]">Customer Manger, Solution Oy</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- It is designed to be viewed only on medium mobile devices. -->
  <div class="hidden Small_Tablet_Devices_Size_View:hidden Large_Mobile_Devices_Size_View:hidden Medium_Mobile_Devices_Size_View:block Small_Mobile_Devices_Size_View:hidden">
    <div class="flex justify-center items-center h-screen w-full overflow-x-hidden overflow-y-auto bg-[#F2F5F9]">
      <div class="flex justify-center items-center h-auto w-auto m-auto p-20">
        <div class="flex flex-col justify-center items-center h-auto w-72 bg-[#FFFFFF] rounded-xl">
          <div class="relative">
            <img src="../assets/Images/hero-image-business-card.png" alt="" class="z-0 h-auto w-72 rounded-xl" />
            <img src="../assets/Images/white-overlay.svg" alt="" class="absolute z-10 -bottom-1 h-auto w-72" />
          </div>
          <div class="px-4">
            <h1 class="text-[#111729] font-Poppins text-sm font-medium tracking-tight w-56">Perfect solution for small business</h1>
            <p class="text-[#677489] font-Lato text-[10px] my-4 w-56">Small businesses need to generate leads to grow. You can use tools like Ringy.</p>
          </div>
          <div class="border-solid border-[1px] border-[#F2F5F9] w-full"></div>
          <div class="p-4 ml-3 mr-auto">
            <div class="flex justify-start items-center">
              <div>
                <img src="../assets/Images/avatar-image-business-card.png" alt="" class="rounded-full h-7 w-7 border-2 border-solid border-[#F2F5F9]" />
              </div>
              <div class="flex flex-col justify-center items-center font-Lato ml-3">
                <p class="text-[#111729] font-bold text-[10px] mr-auto">Amy Burgess</p>
                <p class="text-[#677489] text-[8px]">Customer Manger, Solution Oy</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- It is designed to be viewed only on small mobile devices. -->
  <div class="hidden Small_Tablet_Devices_Size_View:hidden Large_Mobile_Devices_Size_View:hidden Medium_Mobile_Devices_Size_View:hidden Small_Mobile_Devices_Size_View:block">
    <div class="flex justify-center items-center h-screen w-full overflow-x-hidden overflow-y-auto bg-[#F2F5F9]">
      <div class="flex justify-center items-center h-auto w-auto m-auto p-20">
        <div class="flex flex-col justify-center items-center h-auto w-60 bg-[#FFFFFF] rounded-xl">
          <div class="relative">
            <img src="../assets/Images/hero-image-business-card.png" alt="" class="z-0 h-auto w-60 rounded-xl" />
            <img src="../assets/Images/white-overlay.svg" alt="" class="absolute z-10 -bottom-1 h-auto w-60" />
          </div>
          <div class="px-3 ml-1 mr-auto">
            <h1 class="text-[#111729] font-Poppins text-sm font-medium tracking-tight w-52">Perfect solution for small business</h1>
            <p class="text-[#677489] font-Lato text-[8px] my-3 w-44">Small businesses need to generate leads to grow. You can use tools like Ringy.</p>
          </div>
          <div class="border-solid border-[1px] border-[#F2F5F9] w-full"></div>
          <div class="p-3 ml-1 mr-auto">
            <div class="flex justify-start items-center">
              <div>
                <img src="../assets/Images/avatar-image-business-card.png" alt="" class="rounded-full h-6 w-6 border-2 border-solid border-[#F2F5F9]" />
              </div>
              <div class="flex flex-col justify-center items-center font-Lato ml-2">
                <p class="text-[#111729] font-bold text-[8px] mr-auto">Amy Burgess</p>
                <p class="text-[#677489] text-[6px]">Customer Manger, Solution Oy</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</main>
